@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,800;1,500&display=swap');
  

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins';
    /*border: .1px black solid;*/
}

header{
    width: 100%;
    display: block;
    position: relative;
    border-bottom: solid 4px #008636;
}

.faixaNavTopo{
    border: none !important;
    background-color: #008636;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.faixaNavTopo ol{
    border: none !important;
    width: 1055px;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.faixaNavTopo li:nth-child(02){
    width: 20%;
}

.faixaNavTopo ol li {
    border: none !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.faixaNavTopo ol li img{
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.faixaNavTopo ol li a{
    color:#B7EECD;
    font-size: .8rem;
    text-decoration: none;
}

.navMenuPrincipal{
    background-color: #fff;
    width: 100%;
}

.navMenuPrincipal nav {
    width: 1055px;
    margin: 0 auto;
    display: flex;
    padding: 1.5% 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.navMenuPrincipal nav a{
    width:186px;
}

.styleOSOS{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: center; */
    align-items: center;
    justify-content: space-between;
    width: 290px;
}
.navMenuPrincipal nav ul li{
    text-decoration: none;
    color: transparent;
}

.navMenuPrincipal nav ul li a{
    color: #2c3e32;
    text-decoration: none;
    font-weight: 550;
}

.removeMarginR{
    margin-right: 0;
}

.navMenuPrincipal nav ul .active{
    border-bottom: 2px solid #22AD65;
    border-width: 3px;
}


/*CAPA ------------------------------------*/
/*CAPA ------------------------------------*/
/*CAPA ------------------------------------*/
/*CAPA ------------------------------------*/
/*CAPA ------------------------------------*/


.capa{
    background-image: url(cabaSite.png);
    display: block;
    background-size: 100%;
    position: relative;
    padding: 80px 0;
    width: 100%;

}
.capa span{
    display: block;
    position: absolute;
    width: 1055px;
    left: 50%;
    transform: translate(-50%,0);
    height: 100%;
    top: 0;
}
.capa span .shapeOne{
     display: block;
     position: absolute;
     right: 0;
     top: 20px;
}
.capa span .shapeTwo{
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
}
.alingContCapa{
    position: relative;
    display: block;
    width: 90%;
    color: #F8FFFB;
    margin: 50px auto;
    text-align: center;
}
.alingContCapa h1{
    font-size: 3.2rem;
    line-height: 4.8rem;
}
.alingContCapa h2{
    font-size: 1.2rem !important;
    font-weight: 90;
    /* line-height: 4rem; */
    padding: 0 0 18px 0;
}
.buttCapa , .buttMarcas{
    background-color: #F8FFFB;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(234, 239, 236) 100%);
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 15px 60px;
    border-radius: 50px;
    font-weight: 600;
    color: #0A2514;
    font-size: 1.5rem;
    border: none;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    cursor: pointer;
}
.buttCapa img{
    width: 1.5rem;
    margin-left: 20px;
}


/*SECTION SERVIÇOS --------------------------------*/
/*SECTION SERVIÇOS --------------------------------*/
/*SECTION SERVIÇOS --------------------------------*/
/*SECTION SERVIÇOS --------------------------------*/

.cxAlingSection .buttMarcas {
    margin: 40px auto 0px auto;
    box-shadow: 0px 0px 5px 0px #4a4a4a38;
    font-size: .9rem !important;
}


main{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.sectionsGerais{
    margin: 0 auto;
    padding: 60px 0;
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
}
.sectionsGerais:nth-child(2n + 1){
    background-color: #F4F5FF;
}

.cxCardsJobs{
    width: 100%;
}
.cxCardsJobs .cxAlingSection h2{
    font-size: 2.0rem;
    margin: 0 auto 30px auto;
    font-weight: 600;
    text-align: center;
    line-height: 2.375rem;
    color: #383A39;
}

.cxCardsJobs .cxAlingSection .cards{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: space-between;
}

.cards{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: space-between;
}

.buttGeral{
    background-color: #008636;
    background: rgb(0,134,54);
    background: linear-gradient(180deg, rgba(0,134,54,1) 0%, rgba(0,109,44,1) 100%);
    position: relative;
    display: flex;
    padding: 15px 60px;
    border-radius: 50px;
    font-weight: 600;
    color: #F4F5FF;
    font-size: 1.5rem;
    border: none;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 40px auto 0px auto;
    /*box-shadow: 0px 0px 5px 0px #4a4a4a38;*/
    box-shadow: 0 7px 15px rgb(0 0 0 / 13%);
    cursor: pointer;
}
.buttGeral img{
    width: 1.5rem;
    margin-left: 20px;
}

.card{
    background-color: #fff;
    border-radius: 1rem;
    /*box-shadow: 0px 1px 4px rgba(9, 9, 9, 0.2);*/
    box-shadow: 0 7px 15px rgb(0 0 0 / 13%);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 333px;
}
.card h3{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    padding: 5px 6px 3px 6px;
}
.card p{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    padding: 0px 6px 15px 0px;
}
.card .img-card{
    width: 100%;
}

.img-star-job{
    margin: 0 auto;
    position: relative;
    display: block;
    padding: 0px 6px 30px 6px;
}
.cxAlingSection{
    position: relative;
    display: block;
    width: calc(1055px);
    max-width: 90%;
    margin: 0 auto;
}



/*SECTION MARCAS --------------------------------*/

.cardsMarcas{
    width: 100%;
    background-color: #080808;
    background-image: url(shape-marcas.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cardsMarcas h2{
    font-size: 2.0rem;
    color: #f2f7f2 !important;
    margin: 0 auto 30px auto;
    font-weight: 600;
    text-align: center;
    line-height: 2.5rem;
    color: #383A39;
}


.cards-marca{
    width: 100%;
    position: relative;
    display: flex;
    background-color: #fff;
    padding: 40px 0;
    border-radius: 1rem;
}

.buttMarcas{
    margin: 40px auto 0px auto;
        box-shadow: 0px 0px 5px 0px #4a4a4a38;
}

.marcasimgs{
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
}
.removeBorder{
    border-top: 2px solid rebeccapurple;
}


.cardsAvaliacao h2{
    font-size: 2.0rem;
    margin: 0 auto 30px auto;
    font-weight: 600;
    text-align: center;
    line-height: 2.375rem;
    color: #383A39;
}

.imgCitatAvall{
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 35px 0 15px 0;
}

.cxAlingContCard{
    padding: 10px 20px 15px 20px;
}

.pCardsAvall{
    padding: 5px 0 0px 0 !important;
}

.cxAlingContentAbout{
    position: relative;
    display:flex;
}

.titulo{
    font-size: 2.0rem;
    font-weight: 600;
    margin: 30px auto 5px auto;
    line-height: 2.375rem;
    color: #383A39;
}

.paragrafo{
    font-size: 1.4rem;
    font-weight: 200;
    padding: 15px 0px 3px 0px;
    color: #39443E;
}

.cxAlingfoot{
    border-bottom: rgb(81, 81, 81) 2px solid;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
}



.navSection{
    display: block;
}
.navSection h2{
    font-size: 1.4rem;
    margin: 0 auto 10px auto;
    font-weight: 500;
    color: #f2f7f2;
}

ol li{
    list-style: none;
    color: #e4e4ee;
    font-weight: 100;
}

.alingtimes{
    display: block;
}

.alingtimes li{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.descondenado li{
list-style-image: none;
  background-image: url(iconSelecor.svg);
  background-repeat: no-repeat; 
  background-position: left center;
  padding-left: 20px;
  font-size: 1rem;
}

.navegue02 li{

    list-style-image: none;
    background-image: url(iconSelecor.svg);
    background-repeat: no-repeat; 
    background-position: left center;
    padding-left: 20px;
    font-size: 1rem;
}

.localMap{
    list-style-image: none;
    background-image: url(localMap.svg);
    background-repeat: no-repeat; 
    background-position: left center;
    padding-left: 30px;
    font-size: 1rem;
    cursor: pointer;
}
.whatsapp2{
    list-style-image: none;
    background-image: url(whatsIcon.svg);
    background-repeat: no-repeat; 
    background-position: left center;
    padding-left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.igIcon{
    list-style-image: none;
    background-image: url(iGCont.svg);
    background-repeat: no-repeat; 
    background-position: left center;
    padding-left: 30px;
    display: block;
    font-size: 1rem;
    cursor: pointer;
}

.posIconTop{
    width: 600px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
}
.navegue02 li{
    cursor: pointer;
}

.luladrao{
    padding: 0 20px;
}

.alingDiash{
    display:flex;
}

.endSection{
    color: #e4e4ee;
    display: flex;
    width: 1055px;
    justify-content: space-between;
    margin: 0 auto;
}
.endSection h3{
    padding: 25px 0 !important;
    font-weight: 100;
    font-size: 1rem;
}

footer{
    background-color: #181818;
}


footer a{
    text-decoration: none !important;
    color: #e4e4ee;
}
.addBorder{
    border-top: 3px solid #B1B1B1;
}

.boldSobre{
    font-weight: 500;
}

.trxt{
    color: #eef5f1;
}


@media only screen and (max-width: 600px){
.active{
    border: none !important;
}

    .faixaNavTopo ol{
        display: none;
        height: 10px;
    }
    .navMenuPrincipal{
        position: fixed;
        z-index: 1;
    }
    .compenss{
        display: block !important;
        position: relative;
        height: 52px;
    }
   
    .navMenuPrincipal nav{
        background-color: #fff;
        width: 100%;
        display: block;
    }

    .navMenuPrincipal nav ul li{
        padding: 2px 10px;
        border-radius: 5px;
        margin: 20px auto;
    }
    .navMenuPrincipal nav ul li a{
        color: #2c3e32 !important;
    }
    .logo{
        position: relative;
        display: flex;
        align-items: center !important;
        left: 20px;
    }
    .logo img{
        width: 120px;
    }
    .capa span{
        width: 100%;
    }

/* MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU */


    .hamburger-menu {
        display: flex !important;
        align-items: center !important;
        width: 50%;
        position: absolute;
        z-index: 1;
        justify-content: end;
        top: 0;
        right: 20px;
        align-items: center;
        height: 57px;
        
      }
      
      .hamburger-menu label {
        cursor: pointer !important;
        padding: 10px !important;
      }
      
      .hamburger-menu label span {
        display: block !important;
        width: 50px !important;
        height: 5px !important;
        border-radius: 1px;
        background-color: #2c3e32 !important;
        margin-bottom: 5px !important;
        transition: transform 0.3s ease-in-out !important;
      }
      

      /*
      .menuAberto label span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px) !important;
      }
      
      .menuAberto label span:nth-child(2) {
        opacity: 0 !important;
      }
      
      .menuAberto label span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px) !important;
      }
      */
   
      
      .menu{
        display: flex !important;
      }
      .styleOSOS{
        position: absolute;
        background-color: #eaeaea;
        display:none ;
        z-index: 1;
        top:52px;
        width: 100%;
        justify-content:space-evenly;
    }




      .cxAlingfoot {
        border-bottom: rgb(81, 81, 81) 2px solid;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px 0;
    }

      .cxAlingContentAbout {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .endSection {
        color: #e4e4ee;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
    }


    .cxCardsJobs .cxAlingSection .cards {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .cards {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-content: flex-start;
        align-items: center
    }


    .capa span {
        display: none;
    }

    .capa {
        background-image: url(cabaSite.png);
        display: block;
        background-size: 200%;
        background-repeat: no-repeat;
        background-position-x:-200px;
        position: relative;
        padding:10px 0;
        width: 100%;
    }

    .alingContCapa h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 5px;
    }

    .alingContCapa h2 {
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 0;
    }
    .buttCapa, .buttGeral{
        font-size: 1rem !important;
        padding: 10px 35px !important;
    }
    .buttCapa, .buttGeral{
        margin: 0 auto;
    }
 
    .cxCardsJobs .cxAlingSection h2 {
        font-size: 1.8rem;
        margin: 0 auto 20px auto;
        font-weight: 600;
        text-align: center;
        line-height: 2.5rem;
        color: #383A39;
    }

    .sectionsGerais {
        margin: 0 auto;
        padding: 38px 0;
        display: block;
        width: 100%;
        position: relative;
        background-color: #fff;
    }

    .card{
        margin-bottom: 38px;
    }

    .cardsMarcas {
        width: 100%;
        background-color: #080808;
        background-image: url(shape-marcas.svg);
        background-size: 250% !important;
        background-position-x: -33
        28px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .cardsMarcas h2 {
        font-size: 1.4rem;
        font-weight: 400;
        color: #f2f7f2 !important;
        margin: 0 auto 30px auto;
        font-weight: 600;
        text-align: center;
        line-height: 1.85rem;
        color: #383A39;
    }
    .cards-marca {
        display: none;
    }
    .cardsAvaliacao h2{
        font-size: 1.8rem;
        margin: 0 auto 20px auto;
        font-weight: 600;
        text-align: center;
        line-height: 2.5rem;
        color: #383A39;
    }
    .shape-logo-icon{
        width: 240px;
        position: relative;
        display: block;
        left: 50%;
        transform: translate(-50%,0);
    }
    .titulo {
        font-size: 1.8rem;
        margin: 20px auto 0px auto;
        font-weight: 600;
        text-align: center;
        line-height: 2rem;
        color: #383A39;
    }
    .paragrafo {
        font-size: 1rem;
        font-weight: 100;
        margin: 5px auto;
        text-align: center;
        padding: 0px 6px 15px 0px;
    }
    .trx0202{
        width: 70%;
        margin: 0 auto 30px auto;

    }

    .cxAlingfoot {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 50px 0 0 0;
    }
    .cardNavFooter{
        margin-bottom: 30px;
    }

    .endSection {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: center !important;
    }
    .endSection h3{
        text-align: center;
        font-size: .7rem;
        width: 100%;
    }
    .endSection h3:nth-child(1) {
        display: none;
    }
    .cxAlingSection {
        width: 80%;
    }
    .localMap{
        font-size: .9rem;
    }
}